
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-base:                #0aa699;
$brand-light:               lighten($brand-base, 15%);
$brand-lighter:             lighten($brand-base, 28%);
$brand-dark:                #3e4a59;
$brand-darker:              #2c343f;

$brand-primary:             $brand-base;
$brand-success:             #46c37b;
$brand-info:                #70b9eb;
$brand-warning:             #f3b760;
$brand-danger:              #d26a5c;
// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// colour stuff
$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;

$darkGrey: #4f585e;
$font-size-base:          14px;
$font-size-large:         16px;
$font-size-small:         12px;
$font-size-mini:          12px;
$border-radius-base:      2px;
