

// Variables
@import "variables";
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// Layouts
@import "layouts";
@import "cards";
@import "profile";
@import "ribbons";
@import "css-switch";
@import 'daterange-picker';
@import '~easy-autocomplete/src/sass/easy-autocomplete';
@import '~easy-autocomplete/src/sass/easy-autocomplete.themes';

.autocomplete-suggestions {
    font-family: 'Roboto' sans-serif;
    position: absolute;
    list-style: none;
    background: #f8f8f8;
    padding: 10px 5px;
    margin: 0;
    display: inline-block;
    min-width: 15%;
    margin-top: 10px;
    overflow: auto;
}
.autocomplete-suggestion { 
    text-decoration: none;
    display: block;
    background: #f8f8f8;
    color: #2b2b2b;
    padding: 5px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    color: white;
    background: #087d6f;
    cursor: pointer;
    padding: 15px;
}
.autocomplete-suggestions strong {
    font-weight: normal; color: #0090d9;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    display: block; border-bottom: 1px solid #000;
}
.autocomplete-suggestions, .autocomplete-suggestions div{
  transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
}
.autocomplete-suggestions div:before{
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #f8f8f8;
  left: 46%;
  top: -20px
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
@media print {
  .invoice-body {
    position:relative;
  }
  .page-content .content{
    padding-top:0;
    display: inline;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .page-break {
    page-break-before:always;
  }
  *{ 
    -ms-overflow-style: none;
    &::-webkit-scrollbar { width: 0 !important}
  }
  .content-data {
    font-size: 105% !important;
  }
    
  .page-print{
    display: inline;
  }
}
.ajaxModal {
  cursor: pointer;
}
.big-items {
  li a {
      width: 100%;
      display: inline-block;
      font-size: 14px !important;
      color:#e4e4e4 !important;
  }
}
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }
.header{
  top:0;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow !important;
    box-shadow: $shadow !important;
}
.form-control {
        padding-left: 10px;
        padding-right: 10px;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        @include box-shadow(0 1px 0 $form-border-color);

        &:focus {
            background-color: transparent;
            @include box-shadow(0 2px 0 #4fc08d);

            + label {
                color: $text-color;
            }

            ~ .input-group-addon {
                @include box-shadow(0 2px 0 $text-color);
            }
        }
    }
.image-cropper{
  img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
  }
}