@mixin uipnotifyvariant($background) {
    background-color: $background;
    border-color: $background;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}
.ui-pnotify {
        .alert-warning {@include uipnotifyvariant($brand-warning)}
        .alert-success {@include uipnotifyvariant($brand-success)}
        .alert-danger {@include uipnotifyvariant($brand-danger)}
        .alert-info {@include uipnotifyvariant($brand-info)}
        .alert-primary {@include uipnotifyvariant($brand-primary)}

        color: #fff;

        hr {
            border-top-color: rgba(255, 255, 255, 0.1);
        }
        .alert-link {
            color: darken(#fff, 10%);
        }

        h1, h2, h3, h4, h5, h6, 
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: #fff;
            small {
                color: #fff; 
            }
        }

        .ui-pnotify-shadow {
            box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.24) !important;
        }
    }

    .ui-pnotify-closer, .ui-pnotify-sticker {
        padding: 2px 8px;
        margin: -14px 0 0 0 !important;
        background: rgba(0, 0, 0, 0.1);
        font-size: 10px;
        color: rgba(255, 255, 255, 0.4);
        &:hover, &:active, &:focus {background: rgba(0, 0, 0, 0.2);}
    }

    .ui-pnotify-closer {border-bottom-right-radius: $border-radius-base;}
    .ui-pnotify-sticker {border-bottom-left-radius: $border-radius-base;}

    .ui-pnotify-text {font-size: $font-size-small !important; color: #fff;}
    .ui-pnotify-title {font-size: $font-size-base !important; color: #fff;}

    .ui-pnotify-icon, .ui-pnotify-icon span {margin-top: 0.05em !important; color: #fff;}
    .lead{font-size:16px;}
    
    // Tabs
    .nav-tabs {
        background-color: $white;
        border-bottom: none;

        &.nav-tabs-right > li {
            float: right;
        }

        &.nav-justified > li > a {
            margin-bottom: 0;
        }

        > li {
            margin-bottom: 0;

            > a {
                margin-right: 0;
                padding-top: 12px;
                padding-bottom: 12px;
                color: $text-color;
                font-weight: 600;
                border-bottom: 3px solid transparent;
                border-radius: 0;

                &:hover {
                    color: $brand-primary;
                    background-color: transparent;
                    border-color: transparent;
                }
            }

            &.active > a {
                &,
                &:hover,
                &:focus {
                    color: $text-color;
                    background-color: #fff;
                    border-bottom: 3px solid $teal;
                }
            }
        }

        &.nav-tabs-alt {
            background-color: transparent;
            border-bottom: 3px solid #e9e9e9;

            > li {
                > a {
                    @include transition(all .15s ease-out);

                    &:hover {
                        @include box-shadow(0 2px $brand-primary);
                    }
                }

                &.active > a {
                    &,
                    &:hover,
                    &:focus {
                        @include box-shadow(0 2px $brand-primary);
                    }
                }
            }
        }
    }
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #fff;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #fff #fff #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border-bottom: 3px solid #e9e9e9;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom: 3px solid #e9e9e9;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border-bottom: 3px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}